<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Books List</title>
</head>
<body>
<h3>Books List</h3>
<table>
    <thead>
    <tr>
        <td>ID</td>
        <td>Title</td>
        <td>Publisher</td>
    </tr>
    </thead>
    <tbody>
    <tr th:each="book : ${books}">
        <td th:text="${book.id}"></td>
        <td th:text="${book.title}"></td>
        <td th:text="${book.publisher.name}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>